Repository waldo1001/waldo.BCTelemetryBuddy, changes with the labels that .github/labeler.yml gives for each.
All labels: mcp, extension, documentation, tests, ci, dependencies

.github/labeler.yml:

# Auto-label PRs based on files changed

'mcp':
  - packages/mcp/**/*

'extension':
  - packages/extension/**/*

'documentation':
  - docs/**/*
  - '*.md'
  - packages/**/README.md
  - packages/**/CHANGELOG.md

'tests':
  - packages/**/__tests__/**/*
  - packages/**/test/**/*
  - '**/*.test.ts'

'ci':
  - .github/**/*

'dependencies':
  - package.json
  - package-lock.json
  - packages/**/package.json
  - packages/**/package-lock.json

fix: update configuration keys to use new bctb.mcp namespace and improve settings validation
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/src/__tests__/setup-wizard.test.ts
  packages/extension/src/extension.ts
  packages/extension/src/webviews/SetupWizardProvider.ts
Labels: extension, documentation, tests

chore: release v0.2.19
  packages/extension/CHANGELOG.md
  packages/extension/package-lock.json
  packages/extension/package.json
  packages/mcp/CHANGELOG.md
Labels: mcp, extension, documentation, dependencies

Refactor chatmode installation to support multiple chatmodes
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/package.json
  packages/extension/src/chatmodeDefinitions.ts
  packages/extension/src/extension.ts
  packages/extension/src/webviews/SetupWizardProvider.ts
Labels: extension, documentation, dependencies

chore: release v0.2.20
  packages/extension/CHANGELOG.md
  packages/extension/package-lock.json
  packages/extension/package.json
  packages/mcp/CHANGELOG.md
Labels: mcp, extension, documentation, dependencies

docs: update DesignWalkthrough and PromptLog for v0.2.20 release with multiple chatmodes support
  docs/DesignWalkthrough.md
  docs/PromptLog.md
Labels: documentation

docs: enhance TODO.md with suggestions for task outputs and LLM improvements
  docs/TODO.md
Labels: documentation

refactor: implement lazy creation of cache directory in CacheService
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/mcp/src/__tests__/cache.test.ts
  packages/mcp/src/cache.ts
Labels: mcp, documentation, tests

refactor: implement lazy cache folder creation in CacheService
  docs/DesignWalkthrough.md
Labels: documentation

chore: prepare release v0.2.21 with lazy cache folder creation and updated documentation
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/CHANGELOG.md
  packages/extension/package-lock.json
  packages/extension/package.json
  packages/mcp/CHANGELOG.md
Labels: mcp, extension, documentation, dependencies

docs: update DesignWalkthrough and PromptLog with release v0.2.21 details
  docs/DesignWalkthrough.md
  docs/PromptLog.md
Labels: documentation

docs: create release.prompt.md for streamlined release instructions
  .github/prompts/release.prompt.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
Labels: documentation, ci

docs: update DesignWalkthrough, PromptLog, UserGuide, and SetupWizardProvider for multi-root workspace support and configuration changes
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  docs/UserGuide.md
  packages/extension/package.json
  packages/extension/src/extension.ts
  packages/extension/src/webviews/SetupWizardProvider.ts
Labels: extension, documentation, dependencies

chore: release v0.2.22
  packages/extension/CHANGELOG.md
  packages/extension/package-lock.json
  packages/extension/package.json
  packages/mcp/CHANGELOG.md
Labels: mcp, extension, documentation, dependencies

docs: update DesignWalkthrough and PromptLog for release v0.2.22, including multi-root workspace support and critical configuration fixes
  docs/DesignWalkthrough.md
  docs/PromptLog.md
Labels: documentation

feat: implement resource-scoped configuration for MCP client and commands
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/src/extension.ts
Labels: extension, documentation

docs: enhance chatmode documentation with data visualization guidelines and preferred approaches
  packages/extension/src/chatmodeDefinitions.ts
Labels: extension

chore: release v0.2.23
  packages/extension/CHANGELOG.md
  packages/extension/package-lock.json
  packages/extension/package.json
Labels: extension, documentation, dependencies

docs: update DesignWalkthrough and PromptLog with release v0.2.23 details and user prompt entries
  docs/DesignWalkthrough.md
  docs/PromptLog.md
Labels: documentation

fix: resolve MCP server path for installed extensions
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/CHANGELOG.md
  packages/extension/src/extension.ts
Labels: extension, documentation

chore: release v0.2.24
  packages/extension/CHANGELOG.md
  packages/extension/package-lock.json
  packages/extension/package.json
Labels: extension, documentation, dependencies

Prepare major MCP refactoring plan
  Instructions/MCP-Refactoring-Plan.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
Labels: documentation

Fixed tests, removed obsolete tests
  docs/DesignWalkthrough.md
  packages/extension/extension-test-results.txt
  packages/extension/src/__tests__/chatParticipant.test.ts
  packages/extension/src/__tests__/command-handlers.test.ts
  packages/extension/src/__tests__/setup-wizard.test.ts
  packages/extension/src/__tests__/shared-package-integration.test.ts
  packages/extension/src/__tests__/telemetryService.test.ts
  packages/extension/src/webviews/SetupWizardProvider.ts
  packages/extension/test-output.txt
  packages/mcp/.cache/events/RT0005.json
  packages/mcp/.cache/events/RT0006.json
  packages/mcp/.cache/events/RT0018.json
  packages/mcp/mcp-test-results.txt
  packages/mcp/src/__tests__/mcp-standalone.test.ts
Labels: mcp, extension, documentation, tests

feat: add release guide and update release process
  .github/workflows/release-extension.yml
  .github/workflows/release-mcp.yml
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  docs/ReleaseGuide.md
  packages/extension/src/extension.ts
  packages/extension/src/services/mcpInstaller.ts
  packages/extension/src/ui/mcpStatusBar.ts
  packages/extension/src/webviews/SetupWizardProvider.ts
  packages/mcp/src/cli.ts
  scripts/release.ps1
Labels: mcp, extension, documentation, ci

Enhance MCP integration and user experience
  docs/UserGuide.md
  packages/extension/src/__tests__/mcpInstaller.test.ts
  packages/extension/src/__tests__/wizard-mcp-handlers.test.ts
  packages/extension/src/ui/mcpStatusBar.ts
  packages/extension/src/webviews/SetupWizardProvider.ts
Labels: extension, documentation, tests

chore: update changelogs for v0.3.0 and v1.0.0 releases; reflect breaking changes and new features
  packages/extension/CHANGELOG.md
  packages/extension/package.json
  packages/mcp/CHANGELOG.md
Labels: mcp, extension, documentation, dependencies

refactor: remove cache, event lookup, kusto, queries, references, and sanitize modules
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  docs/TODO.md
  docs/UserGuide.md
  packages/extension/package.json
  packages/extension/src/__tests__/command-handlers.test.ts
  packages/extension/src/__tests__/setup-wizard.test.ts
  packages/extension/src/extension.ts
  packages/extension/src/webviews/ProfileWizardProvider.ts
  packages/extension/src/webviews/SetupWizardProvider.ts
  packages/mcp/README.md
  packages/mcp/src/__tests__/auth.test.ts
  packages/mcp/src/__tests__/azure-cli-auth.test.ts
  packages/mcp/src/__tests__/cache.test.ts
  packages/mcp/src/__tests__/event-lookup.test.ts
  packages/mcp/src/__tests__/kusto.test.ts
  packages/mcp/src/__tests__/mcp-standalone.test.ts
  packages/mcp/src/__tests__/queries.test.ts
  packages/mcp/src/__tests__/references.test.ts
  packages/mcp/src/__tests__/sanitize.test.ts
  packages/mcp/src/auth.ts
  packages/mcp/src/cache.ts
  packages/mcp/src/eventLookup.ts
  packages/mcp/src/kusto.ts
  packages/mcp/src/queries.ts
  packages/mcp/src/references.ts
  packages/mcp/src/sanitize.ts
Labels: mcp, extension, documentation, tests, dependencies

Remove "Save Query" command and related tests; update documentation with new entries.
  .vscode/launch.json
  docs/DesignWalkthrough.md
  docs/E2E-Copilot-TestScript.md
  docs/PromptLog.md
  packages/extension/package.json
  packages/extension/src/__tests__/command-handlers.test.ts
  packages/extension/src/__tests__/extension.test.ts
  packages/extension/src/extension.ts
Labels: extension, documentation, tests, dependencies

refactor: remove unused commands and update documentation accordingly
  Instructions/Instructions.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  docs/UserGuide.md
  packages/extension/package.json
  packages/extension/src/__tests__/extension.test.ts
  packages/extension/src/extension.ts
Labels: extension, documentation, tests, dependencies

refactor: remove unused commands, fix Set Default Profile command error, and audit documentation
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  docs/UserGuide.md
  packages/extension/src/services/profileManager.ts
Labels: extension, documentation

chore: update dependencies for esbuild and jest to latest versions
  .github/dependabot.yml
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/package-lock.json
  packages/extension/package.json
  packages/mcp/package-lock.json
  packages/mcp/package.json
Labels: mcp, extension, documentation, ci, dependencies

fix: resolve CodeQL warnings - remove unused variables and fix TOCTOU race condition
  packages/extension/src/__tests__/mcpInstaller.test.ts
  packages/extension/src/__tests__/shared-package-integration.test.ts
  packages/extension/src/services/mcpInstaller.ts
  packages/extension/src/ui/profileStatusBar.ts
  packages/extension/src/webviews/ProfileWizardProvider.ts
Labels: extension, tests

refactor: update documentation to log recent changes and fix CodeQL warnings
  docs/DesignWalkthrough.md
  docs/PromptLog.md
Labels: documentation
