Repository waldo1001/waldo.BCTelemetryBuddy, changes with the labels that .github/labeler.yml gives for each.
All labels: mcp, extension, documentation, tests, ci, dependencies

.github/labeler.yml:

# Auto-label PRs based on files changed

'mcp':
  - packages/mcp/**/*

'extension':
  - packages/extension/**/*

'documentation':
  - docs/**/*
  - '*.md'
  - packages/**/README.md
  - packages/**/CHANGELOG.md

'tests':
  - packages/**/__tests__/**/*
  - packages/**/test/**/*
  - '**/*.test.ts'

'ci':
  - .github/**/*

'dependencies':
  - package.json
  - package-lock.json
  - packages/**/package.json
  - packages/**/package-lock.json

fix: properly expand vsix file glob in release workflow and include package-lock.json in version commits
  .github/workflows/release.yml
Labels: ci

fix: improve artifact handling with find command and better debugging
  .github/workflows/release.yml
Labels: ci

chore: bump version to 0.2.1 in package.json and package-lock.json
  package-lock.json
  packages/extension/package.json
Labels: extension, dependencies

chore: bump version to 0.2.2 in package.json and package-lock.json
  package-lock.json
  packages/extension/package.json
Labels: extension, dependencies

feat: add NoCommit option to release script and gracefully handle missing OVSX_PAT
  .github/workflows/release.yml
  scripts/release.ps1
Labels: ci

chore: comment out Open VSX publish step in release workflow
  .github/workflows/release.yml
Labels: ci

docs: update CHANGELOG and PromptLog with recent changes and user requests
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
Labels: documentation

Improved the setup wizard
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/src/webviews/SetupWizardProvider.ts
Labels: extension, documentation

Fixed Critical Production Bug: MCP Server Marketplace Installation
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  package-lock.json
  packages/extension/.vscodeignore
  packages/extension/src/extension.ts
  packages/mcp/package.json
Labels: mcp, extension, documentation, dependencies

chore: bump extension version to 0.2.3
  package-lock.json
  packages/extension/package.json
Labels: extension, dependencies

fix: improve release script to handle existing tags and add error checking
  scripts/release.ps1
Labels: none

docs: add GitHub Copilot instructions for tracking changes and rationale
  .github/copilot-instructions.md
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
Labels: documentation, ci

chore: bump extension version to 0.2.4
  package-lock.json
  packages/extension/package.json
Labels: extension, dependencies

chore: update documentation for clarity and consistency
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  scripts/release.ps1
Labels: documentation

fix: resolve VSIX packaging error by copying MCP server bundle locally
  .gitignore
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/.vscodeignore
  packages/extension/package.json
Labels: extension, documentation, dependencies

chore: bump extension version to 0.2.5
  package-lock.json
  packages/extension/package.json
Labels: extension, dependencies

feat: enhance conversational release workflow to include component CHANGELOG updates
  .github/copilot-instructions.md
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  scripts/release.ps1
Labels: documentation, ci

chore: update CHANGELOG for version 0.2.5 and 0.2.0 with recent fixes and changes
  packages/extension/CHANGELOG.md
  packages/mcp/CHANGELOG.md
Labels: mcp, extension, documentation

docs: refine logging instructions for user prompts and actions in Copilot guidelines
  .github/copilot-instructions.md
Labels: ci

feat: implement GUID-based logging system for Copilot instructions and update MCP server handling
  .github/copilot-instructions.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/package.json
  packages/extension/src/extension.ts
  packages/mcp/jest.config.js
  packages/mcp/package.json
Labels: mcp, extension, documentation, ci, dependencies

docs: log release request and update extension CHANGELOG for v0.2.6
  docs/PromptLog.md
  packages/extension/CHANGELOG.md
Labels: extension, documentation

chore: bump extension version to 0.2.6
  package-lock.json
  packages/extension/package.json
Labels: extension, dependencies

docs: update DesignWalkthrough with GUID-based EntryId system and release notes for v0.2.6
  docs/DesignWalkthrough.md
Labels: documentation

fix: ensure server.cjs is copied to extension package before VSIX build
  docs/PromptLog.md
  packages/extension/CHANGELOG.md
Labels: extension, documentation

chore: bump extension version to 0.2.7
  package-lock.json
  packages/extension/package.json
Labels: extension, dependencies

feat: add optional test execution in release script and log new entries in documentation
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  scripts/release.ps1
Labels: documentation

fix: rename server.cjs to launcher.js to fix VSIX installation
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/CHANGELOG.md
  packages/extension/package.json
  packages/extension/src/extension.ts
  packages/mcp/CHANGELOG.md
Labels: mcp, extension, documentation, dependencies

chore: bump extension version to 0.2.8
  package-lock.json
  packages/extension/package.json
Labels: extension, dependencies

fix: rename server.cjs to launcher.js and release v0.2.8 to resolve VSIX installation issues
  docs/DesignWalkthrough.md
Labels: documentation

fix: update documentation to reflect launcher.js changes and correct v0.2.8 tag placement
  docs/DesignWalkthrough.md
  docs/PromptLog.md
Labels: documentation

docs: update PromptLog with release request
  docs/PromptLog.md
Labels: documentation

chore: bump extension version to 0.2.9
  package-lock.json
  packages/extension/package.json
Labels: extension, dependencies

fix: create launcher.js as source file to ensure CI/CD packaging
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/CHANGELOG.md
  packages/extension/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/launcher.js
  packages/mcp/package.json
Labels: mcp, extension, documentation, dependencies

chore: bump extension version to 0.2.10
  package-lock.json
  packages/extension/package.json
Labels: extension, dependencies

fix: add v0.2.10 to CHANGELOG and automate CHANGELOG updates in release script
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/CHANGELOG.md
  packages/extension/package.json
  scripts/release.ps1
Labels: extension, documentation, dependencies

docs: update DesignWalkthrough.md to enhance documentation clarity and structure
  docs/DesignWalkthrough.md
Labels: documentation

Install link was to incorrect URL (#19)
  README.md
Labels: documentation

chore(deps): update all dependencies to latest versions
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/package-lock.json
  packages/extension/package.json
  packages/mcp/package-lock.json
  packages/mcp/package.json
Labels: mcp, extension, documentation, dependencies

fix(ci): update Node.js versions to 20.x and 22.x
  .github/workflows/ci.yml
  docs/PromptLog.md
Labels: documentation, ci

fix(deps): update root package-lock.json
  docs/DesignWalkthrough.md
  package-lock.json
Labels: documentation, dependencies
