Repository waldo1001/waldo.BCTelemetryBuddy, changes with the labels that .github/labeler.yml gives for each.
All labels: mcp, extension, documentation, tests, ci, dependencies

fix(ci): remove old Mocha test files causing build failures
  packages/extension/src/test/suite/extension.test.ts
  packages/extension/src/test/suite/index.ts
  packages/extension/src/test/suite/mcpClient.test.ts
  packages/extension/src/test/suite/resultsWebview.test.ts
  packages/extension/tsconfig.tsbuildinfo
Labels: extension, tests

docs: update Copilot instructions to prohibit executing git commands without user request
  .github/copilot-instructions.md
  docs/PromptLog.md
Labels: documentation, ci

feat: add coverage script to package.json for Jest tests
  packages/mcp/package.json
Labels: mcp, dependencies

Make Build work, update manifest with logo
  packages/extension/.vscodeignore
  packages/extension/README.md
  packages/extension/images/waldo.png
  packages/extension/package.json
  packages/extension/tsconfig.tsbuildinfo
  packages/mcp/images/waldo.png
Labels: mcp, extension, documentation, dependencies

feat: add MIT License file to the project
  LICENSE
  packages/extension/LICENSE
Labels: extension

docs: update PromptLog with recent user prompts and CI issues
  docs/PromptLog.md
Labels: documentation

docs: update changelog and prompt log with recent changes and user inquiries
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
Labels: documentation

docs: update CHANGELOG and PromptLog with recent entries; fix CI build issue by simplifying package script
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/package.json
Labels: extension, documentation, dependencies

fixes; enhance .vscodeignore to prevent parent directory inclusion
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/.vscodeignore
Labels: extension, documentation

feat: add launch and task configurations for VSCode extension and MCP server
  .vscode/launch.json
  .vscode/tasks.json
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
Labels: documentation

chore: update TypeScript configuration and add markdown linting
  .markdownlint.json
  .vscode/settings.json
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/tsconfig.json
  packages/mcp/tsconfig.json
  packages/mcp/tsconfig.tsbuildinfo
  tsconfig.json
Labels: mcp, extension, documentation

docs: restructure CHANGELOG.md to reverse chronological order and update Copilot instructions
  .github/copilot-instructions.md
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
Labels: documentation, ci

Changes that followed the end-to-end testing.
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/E2E-TestScript.md
  docs/PromptLog.md
  packages/extension/package.json
  packages/extension/src/__tests__/extension.test.ts
  packages/extension/src/extension.ts
  packages/extension/src/mcpClient.ts
  packages/extension/src/resultsWebview.ts
  packages/extension/tsconfig.tsbuildinfo
  packages/mcp/src/auth.ts
  packages/mcp/src/config.ts
  packages/mcp/src/kusto.ts
  packages/mcp/src/queries.ts
  packages/mcp/src/server.ts
  packages/mcp/tsconfig.tsbuildinfo
Labels: mcp, extension, documentation, tests, dependencies

docs: add E2E test script for GitHub Copilot integration and update prompt log
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/E2E-Copilot-TestScript.md
  docs/PromptLog.md
Labels: documentation

Fixed issues, added smart "customer" selection, and smarter eventId discovery.
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/E2E-Copilot-TestScript.md
  docs/PromptLog.md
  docs/TODO.md
  packages/extension/package.json
  packages/extension/src/extension.ts
  packages/extension/tsconfig.tsbuildinfo
  packages/mcp/src/server.ts
  packages/mcp/tsconfig.tsbuildinfo
Labels: mcp, extension, documentation, dependencies

Features: Run Query From KQL file. Updated File structure when saving queries.
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  docs/TODO.md
  packages/extension/language-configuration.json
  packages/extension/package.json
  packages/extension/src/extension.ts
  packages/extension/src/mcpClient.ts
  packages/extension/tsconfig.tsbuildinfo
  packages/mcp/src/queries.ts
  packages/mcp/src/server.ts
  packages/mcp/tsconfig.tsbuildinfo
Labels: mcp, extension, documentation, dependencies

Feature: Implemented cache management commands for user control over cache lifecycle
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/package.json
  packages/extension/src/extension.ts
  packages/extension/tsconfig.tsbuildinfo
  packages/mcp/src/cache.ts
  packages/mcp/src/server.ts
  packages/mcp/tsconfig.tsbuildinfo
Labels: mcp, extension, documentation, dependencies

Finetuning usages + finetuing cache commands
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  docs/TODO.md
  packages/extension/package.json
  packages/extension/src/extension.ts
  packages/extension/tsconfig.tsbuildinfo
Labels: extension, documentation, dependencies

Added automated tests for the latest changes.
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/package.json
  packages/extension/src/__tests__/cache-commands.test.ts
  packages/extension/src/__tests__/codelens-provider.test.ts
  packages/mcp/src/__tests__/auth.test.ts
  packages/mcp/src/__tests__/azure-cli-auth.test.ts
  packages/mcp/src/__tests__/config.test.ts
  packages/mcp/src/__tests__/customer-folders.test.ts
  packages/mcp/src/__tests__/event-catalog.test.ts
  packages/mcp/src/__tests__/queries.test.ts
  packages/mcp/src/__tests__/tenant-mapping.test.ts
Labels: mcp, extension, documentation, tests, dependencies

Added / updated / fixed tests
  .github/copilot-instructions.md
  .github/workflows/publish.yml
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/package.json
  packages/mcp/jest.config.js
Labels: mcp, extension, documentation, ci, dependencies

Added setup wizard
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/README.md
  packages/extension/package.json
  packages/extension/src/__tests__/setup-wizard.test.ts
  packages/extension/src/extension.ts
  packages/extension/src/webviews/SetupWizardProvider.ts
  packages/extension/tsconfig.tsbuildinfo
Labels: extension, documentation, tests, dependencies

Setup Wizard
  .vscode/settings.json
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/src/__tests__/setup-wizard.test.ts
  packages/extension/src/extension.ts
  packages/extension/src/webviews/SetupWizardProvider.ts
  packages/extension/tsconfig.tsbuildinfo
Labels: extension, documentation, tests

Updated CHANGELOG and PromptLog with comprehensive entries documenting Setup Wizard implementation, fixes, and enhancements.
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
Labels: documentation

just a new todo
  docs/TODO.md
Labels: documentation

Logo on setup wizard
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/src/webviews/SetupWizardProvider.ts
  packages/extension/tsconfig.tsbuildinfo
Labels: extension, documentation

the setup wizard
  packages/extension/src/webviews/SetupWizardProvider.ts
Labels: extension

Fix tests
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/src/webviews/SetupWizardProvider.ts
  packages/extension/tsconfig.tsbuildinfo
Labels: extension, documentation

Exclude SetupWizardProvider.ts from coverage requirements to resolve CI coverage failure; implement defensive programming in logo loading to fix test failures; update documentation in Prompt Log.
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/jest.config.js
Labels: extension, documentation

Refactor publish workflow to streamline version retrieval and ensure environment variables are set correctly for publishing
  .github/workflows/publish.yml
Labels: ci

Refactor release and publish workflows to enhance clarity and streamline processes; remove deprecated publish.yml and update commands for VS Code Marketplace and Open VSX Registry.
  .github/workflows/README.md
  .github/workflows/publish.yml
  .github/workflows/release.yml
Labels: ci

Update version to 0.1.1 in package.json and adjust paths in release workflow for artifact publishing
  .github/workflows/release.yml
  packages/extension/package.json
Labels: extension, ci, dependencies

Install link was to incorrect URL
  README.md
Labels: documentation

Fix vulnerabilities
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  package-lock.json
  packages/extension/package.json
  packages/extension/tsconfig.tsbuildinfo
  packages/mcp/package.json
  packages/mcp/tsconfig.tsbuildinfo
Labels: mcp, extension, documentation, dependencies

#20 - Fix "Command 'BC Telemetry Buddy: Setup Wizard' resulted in an error command 'bctb.setupWizard' not found"
  docs/CHANGELOG.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  package-lock.json
  packages/extension/.vscodeignore
  packages/extension/package.json
  packages/mcp/tsconfig.tsbuildinfo
Labels: mcp, extension, documentation, dependencies

Bump version to 0.1.2 in package.json and package-lock.json Enhance logging strategy in copilot-instructions.md for improved efficiency
  .github/copilot-instructions.md
  package-lock.json
  packages/extension/package.json
Labels: extension, ci, dependencies

Add release script for BC Telemetry Buddy extension to automate version bumping and GitHub Actions trigger
  scripts/release.ps1
Labels: none

Refactor release workflow to simplify artifact paths for publishing
  .github/workflows/release.yml
Labels: ci

chore: bump extension version to 0.2.0
  packages/extension/package.json
Labels: extension, dependencies

chore: bump version to 0.2.0 in package-lock.json
  package-lock.json
Labels: dependencies

fix: include package-lock.json files in version bump commits
  scripts/release.ps1
Labels: none

.github/labeler.yml:

# Auto-label PRs based on files changed

'mcp':
  - packages/mcp/**/*

'extension':
  - packages/extension/**/*

'documentation':
  - docs/**/*
  - '*.md'
  - packages/**/README.md
  - packages/**/CHANGELOG.md

'tests':
  - packages/**/__tests__/**/*
  - packages/**/test/**/*
  - '**/*.test.ts'

'ci':
  - .github/**/*

'dependencies':
  - package.json
  - package-lock.json
  - packages/**/package.json
  - packages/**/package-lock.json
