Repository waldo1001/waldo.BCTelemetryBuddy, changes with the labels that .github/labeler.yml gives for each.
All labels: mcp, extension, documentation, tests, ci, dependencies

docs: enhance documentation across multiple files for clarity and completeness
  MONOREPO.md
  README.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  docs/UserGuide.md
  packages/extension/README.md
  packages/mcp/README.md
Labels: mcp, extension, documentation

refactor: remove natural language processing from query_telemetry tool and update KQL requirements
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/mcp/src/server.ts
Labels: mcp, documentation

feat: implement get_event_field_samples tool for detailed field analysis from telemetry events
  .github/copilot-instructions.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/mcp/src/__tests__/event-field-samples.test.ts
  packages/mcp/src/server.ts
Labels: mcp, documentation, tests, ci

feat: implement dynamic event category lookup with caching and custom analysis for telemetry events
  .github/copilot-instructions.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/mcp/src/__tests__/event-lookup.test.ts
  packages/mcp/src/eventLookup.ts
  packages/mcp/src/server.ts
Labels: mcp, documentation, tests, ci

feat: enhance get_event_catalog to include common fields analysis and update documentation
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/mcp/src/__tests__/event-catalog.test.ts
  packages/mcp/src/server.ts
Labels: mcp, documentation, tests

refactor: remove unnecessary whitespace in event catalog and server files for cleaner code
  packages/mcp/src/__tests__/event-catalog.test.ts
  packages/mcp/src/server.ts
Labels: mcp, tests

feat: enhance documentation and tools for telemetry analysis, introducing discovery-first workflow and removing natural language translation
  Instructions/Instructions.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  docs/UserGuide.md
  packages/extension/CHANGELOG.md
  packages/extension/README.md
  packages/mcp/CHANGELOG.md
  packages/mcp/README.md
Labels: mcp, extension, documentation

feat: enhance documentation and testing for Phase 1-3 changes, including manual testing guide and MCP server error fix
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  docs/TestingGuide.md
  packages/extension/package.json
  packages/mcp/src/server.ts
Labels: mcp, extension, documentation, dependencies

Fixes after testing 1 thru 4 in the Testguide.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  docs/TestingGuide.md
  packages/mcp/src/eventLookup.ts
  packages/mcp/src/server.ts
Labels: mcp, documentation

feat: enhance event status categorization with detailed error, warning, success, and info classifications
  packages/mcp/src/server.ts
Labels: mcp

feat: update TestingGuide and PromptLog for GitHub Copilot STDIO mode, clarifying verification steps and user prompts
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  docs/TODO.md
  docs/TestingGuide.md
Labels: documentation

feat: ensure MCP builds before extension, updating CI workflow for TypeScript compilation
  .github/workflows/ci.yml
Labels: ci

feat: Add BC Telemetry Buddy chat participant and installation command
  README.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  docs/UserGuide.md
  packages/extension/package.json
  packages/extension/src/__tests__/chatParticipant.test.ts
  packages/extension/src/chatParticipant.ts
  packages/extension/src/extension.ts
  packages/extension/src/webviews/SetupWizardProvider.ts
Labels: extension, documentation, tests, dependencies

feat: Update chatParticipant tests and mocks to reflect tool naming refactor and enhance system prompt checks
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/src/__tests__/chatParticipant.test.ts
Labels: extension, documentation, tests

Fix ubuntu build
  .gitignore
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/package.json
  packages/extension/tsconfig.tsbuildinfo
Labels: extension, documentation, dependencies

docs: update extension CHANGELOG for v0.2.11 release
  packages/extension/CHANGELOG.md
Labels: extension, documentation

chore: bump extension version to 0.2.11
  packages/extension/package.json
Labels: extension, dependencies

docs: update extension CHANGELOG for v0.2.12 release with comprehensive session documentation
  packages/extension/CHANGELOG.md
Labels: extension, documentation

docs: log comprehensive CHANGELOG update prompt and session work
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/package-lock.json
Labels: extension, documentation, dependencies

chore: bump extension version to 0.2.12
  packages/extension/package.json
Labels: extension, dependencies

chore: release v0.2.12 with comprehensive CHANGELOG updates and version bump
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/package-lock.json
Labels: extension, documentation, dependencies

chore: add extensions.json for recommended extensions and update settings.json to disable BC Telemetry Buddy configuration in development
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

fix: resolve CodeLens 'Run Query' HTTP/stdio conflict by enforcing HTTP mode for command palette
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/src/extension.ts
Labels: extension, documentation

docs: update extension CHANGELOG for v0.2.13 release
  packages/extension/CHANGELOG.md
Labels: extension, documentation

chore: bump extension version to 0.2.13
  packages/extension/package.json
Labels: extension, dependencies

fix: improve first-run experience by enabling graceful configuration validation and error handling
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/CHANGELOG.md
  packages/extension/package-lock.json
  packages/mcp/CHANGELOG.md
  packages/mcp/src/__tests__/config.test.ts
  packages/mcp/src/config.ts
  packages/mcp/src/server.ts
Labels: mcp, extension, documentation, tests, dependencies

docs: prepare CHANGELOGs for v0.2.14 release
  packages/extension/CHANGELOG.md
  packages/mcp/CHANGELOG.md
Labels: mcp, extension, documentation

chore: bump extension version to 0.2.14
  packages/extension/package.json
Labels: extension, dependencies

chore: release v0.2.14 - update version and CHANGELOGs, fix first-run experience
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/package-lock.json
Labels: extension, documentation, dependencies

docs: add release process fix to [Unreleased] sections
  packages/extension/CHANGELOG.md
  packages/mcp/CHANGELOG.md
Labels: mcp, extension, documentation

chore: bump extension version to 0.2.15
  packages/extension/CHANGELOG.md
  packages/extension/package.json
  packages/mcp/CHANGELOG.md
Labels: mcp, extension, documentation, dependencies

chore: release v0.2.16
  packages/extension/CHANGELOG.md
  packages/extension/package-lock.json
  packages/extension/package.json
  packages/mcp/CHANGELOG.md
Labels: mcp, extension, documentation, dependencies

docs: document simplified manual release process in copilot-instructions.md
  .github/copilot-instructions.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/extension/package.json
Labels: extension, documentation, ci, dependencies

feat: enhance event catalog query with specific short messages and improved status handling
  docs/TODO.md
  packages/mcp/src/server.ts
Labels: mcp, documentation

docs: update DesignWalkthrough and PromptLog with recent changes to release process and shortMessage logic
  docs/DesignWalkthrough.md
  docs/PromptLog.md
Labels: documentation

chore: release v0.2.17
  packages/extension/CHANGELOG.md
  packages/extension/package-lock.json
  packages/extension/package.json
  packages/mcp/CHANGELOG.md
Labels: mcp, extension, documentation, dependencies

docs: log shortMessage improvements and testing session
  docs/DesignWalkthrough.md
  docs/PromptLog.md
Labels: documentation

docs: update release workflow to enforce two-step process with user confirmation
  .github/copilot-instructions.md
  docs/DesignWalkthrough.md
  docs/PromptLog.md
Labels: documentation, ci

feat: implement lazy creation for queries directory to prevent automatic folder creation on workspace activation
  docs/DesignWalkthrough.md
  docs/PromptLog.md
  packages/mcp/src/__tests__/queries.test.ts
  packages/mcp/src/queries.ts
Labels: mcp, documentation, tests

chore: release v0.2.18
  packages/extension/CHANGELOG.md
  packages/extension/package-lock.json
  packages/extension/package.json
  packages/mcp/CHANGELOG.md
Labels: mcp, extension, documentation, dependencies

.github/labeler.yml:

# Auto-label PRs based on files changed

'mcp':
  - packages/mcp/**/*

'extension':
  - packages/extension/**/*

'documentation':
  - docs/**/*
  - '*.md'
  - packages/**/README.md
  - packages/**/CHANGELOG.md

'tests':
  - packages/**/__tests__/**/*
  - packages/**/test/**/*
  - '**/*.test.ts'

'ci':
  - .github/**/*

'dependencies':
  - package.json
  - package-lock.json
  - packages/**/package.json
  - packages/**/package-lock.json
